<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content" style="width: 100%;text-align: center;">
    <form ng-submit="addUser()">
        <input style="text-align: center;" type="text" ng-model="userName" placeholder="User Name" ng-change="unChange()" required />
        <label ng-model="UnComment" >{{UnComment}}</label>
        <input style="text-align: center;" type="password" ng-model="password" placeholder="Password" ng-change="pdChange()" required/>
        <label ng-model="pdComment" >{{pdComment}}</label>
        <input style="text-align: center;" type="text" placeholder="First Name" ng-model="firstName" required/>
        <input style="text-align: center;" type="text" placeholder="Last Name" ng-model="lastName" required/>
        <input style="text-align: center;" type="email" placeholder="Email" ng-model="email" required/>
        <br/>
        <label><h3 style="font-family: Comic Sans MS;">Country:</h3></label>
        <br/>
        <select ng-model="country" >
            <option ng-repeat="c in countries " value="{{c.textContent}}">{{c.textContent}}</option>
        </select>
        <br/>
        <input style="text-align: center;" type="text" placeholder="City" ng-model="city"/>
        <br/>
        <input style="text-align: center;" type="text" placeholder="What's your mother's last name?" ng-model="verifier1"/>
        <br/>
        <input style="text-align: center;" type="text" placeholder="What's your first pet name?" ng-model="verifier2"/>
        <h3 style="font-family: Comic Sans MS;">Categories:</h3>
        <br/>
        <br/>
        <div ng-repeat="category in categories" style="font-family: Comic Sans MS">
            <span>
                <label style="text-align: center; width: 50%">{{category.Category}}</label>
                <input type="checkbox" id="{{$index}}" ng-model="yael" ng-change="listChange(category)" style="width: 50%; text-align: center">
            </span>
        </div>

        <input type="submit"  value="Register" />
    </form>
</div>
</body>
</html>