<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="content">

    <form ng-submit="retrievePass()">
        <br/>
        <br/>
        <label >Enter UserName:</label>
        <br/>
        <input type="text" ng-model="userName" placeholder="User Name" />
        <br/>
        <label>What is your mother's name?</label>
        <input type="text" ng-model="verifier1" placeholder="Answer1" />
        <br/>
        <label>What is your first pet name?</label>
        <input type="text" ng-model="verifier2" placeholder="Answer2" />
        <input type="submit"  value="Ok" />
    </form>
</div>
<div>
    <label ng-show="isShow">&nbsp;&nbsp;&nbsp;&nbsp;Your password is: {{Pass}}</label>
</div>
</body>
</html>