<div>
    <p class="about">
        <br><br>
        Playa del Carmen (Spanish pronunciation: ['plaʝa ðel 'karmen])<br><br>
        is a city located along the Caribbean Sea in the municipality of Solidaridad, in the state of Quintana Roo,<br><br>
        Mexico. It is a popular tourist area in eastern Mexico.<br><br>
        Playa del Carmen features a wide array of tourist activities due to its geographical location in the Riviera Maya.<br><br>
        It has also been the destination of PGA Tour golf tournaments and the set location for various television shows.<br><br>
        The town has become one of the fastest to grow in population size in Mexico.
    </p>


    <br/>
    <br/>
    <br/>
    <br/>


    <table>
    <tr>
        <td ng-repeat="poi in popularPOIs|orderBy:'-Rank' | limitTo : 3 " style="width:30%; height:400px; text-align: center;" >
            <img src="{{poi.ImageURL}}"  style="height:100%; width:90%">
        </td>
    </tr>
</table>


</div>
