<div>
    <h1 class="headline">About</h1>
    <p class="about">
        <br><br>
        This website was created by Tal Ben Senior and Yael Hochma.<br><br>
        We are students at the Information Systems Engineering Department Of Ben-Gurion University of the Negev.<br><br>
        We had some difficulties during the work process.<br><br>
        First we are new to Angular and node.js, thus we had to learn a lot from scratch.<br><br>
        In addition we didn't have much time for this work.
    </p>
</div>